.dd-nav{
  $self: &;
  @extend .w-100;
  z-index:1;
  position:absolute;
  top:0;
  left:0;
  pointer-events:none;
  &__content{
      @extend 
          .d-flex,
          .align-items-center,
          .justify-content-center,
          .w-100;
      margin: auto;
      height: $navbar-height;
      @include media-breakpoint-up(md) {            
          height: $navbar-md-height;
      }
  }
  &__logo{        
      @extend 
          .d-flex,
          .align-items-center,
          .h-100,
          .d-inline-block;
      img {
          height:40%;
      }
  }
  &__links{
    @extend 
        .d-none,
        .align-items-center,
        .d-md-flex,
        .d-none;
    list-style-type:none;
    padding:0;
    margin:0;    
  }
  &__link {
      @extend 
          .ml-auto,
          .px-4,
          .text-uppercase;
      font-size:12px;
      font-weight:500;
      letter-spacing:1px;
      color:transparentize($black,.45);
      transition: color .2s;
      @include hover-focus-active {          
        color:$black;
      }
      pointer-events:auto;
  }
  &__menu {
      @extend 
          .d-inline-flex,
          .d-md-none,
          .position-absolute;
      background:none;
      border:none;
      left:16px;
      color:$black;
      pointer-events:auto;
  }
}