
node_modules/
.sass-cache/
.firebase/
firebase-debug.log
.firebaserc
firebase.json
firestore.rules
storage.rules
firestore.indexes.json
functions/serviceAccountKey.json
database.rules.json
.vscode/settings.json
public/dist/assets/css/bundle.css
public/dist/assets/js/bundle.js
public/dist/assets/js/bundle.js.map