@use '../colors';
@use '../mixins';

$transition-speed: 0.5s;
$transition-curve: cubic-bezier(0.75, 0, 0.125, 1);

.dd-button {
	padding: 2rem 6rem;
	border: 2px solid transparent;
	font-weight: 600;
	font-size: 2rem;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: border-color $transition-speed $transition-curve,
		background $transition-speed $transition-curve, color $transition-speed $transition-curve;

	> * {
		z-index: 1;
		position: relative;
		transition: color $transition-speed $transition-curve;
	}

	&--text {
		background: none;
		border: none;
	}

	@each $k in colors.$palette {
		&--text#{&}--#{$k} {
			color: var(--#{$k});
		}
	}

	@each $k in colors.$palette {
		&--flat#{&}--#{$k} {
			background-color: var(--#{$k});
			color: var(--#{$k}-text);
			border-color: var(--#{$k});
		}
	}

	@each $k in colors.$palette {
		&--outline#{&}--#{$k} {
			background-color: transparent;
			color: var(--#{$k});
			border-color: var(--#{$k});
		}
	}
}

@mixin hover-focus-active() {
	.dd-button {
		@include mixins.hover-focus-active() {
			@content;
		}
	}
}
