@use '../mixins';

.dd-footer {
	background-color: #151515;
	padding: 0 4rem 4rem;
	font-size: 14px;
	overflow-x: hidden;
	font-weight: 500;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: #8a8a8a;

	&__heading {
		text-transform: uppercase;
		font-size: 1.5rem;
		margin-bottom: 1rem;
		display: block;
		font-weight: 700;
	}

	&__list {
		list-style-type: none;
		padding: 0;
	}

	&__logo {
		height: 7rem;
		margin-bottom: 5rem;
	}

	&__link {
		color: #8a8a8a;
		font-weight: 500;
		font-size: 14px;
		display: block;
		transition: color 0.2s;
		margin-bottom: 1rem;

		@include mixins.hover-focus-active() {
			color: #717171;
		}
	}

	.dd-footer__link i {
		font-size: 20px;
	}
}
