.dd-header-bar{
    background-color:$black;   
    display:block;
    &--sm{            
        height:.15em;
        width:40px;
    }
    &--lg{            
        width:70px;
        height:.25em;
        width:70px;
    }
}