.dd-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		pointer-events: none;
		background-repeat: repeat-x;
		height: 20vh;
		width: 100%;
		position: absolute;
		left: -0px;
		right: -0px;
		bottom: -2px;
		animation: wave 25s linear infinite;
		background-position-y: top;
		background-image: url('./../assets/images/wave-light.svg');
		@media (min-height: 1000px) {
			background-position-y: bottom;
		}
	}
}
