.input-container{
  position:relative;
  padding-top:1em;
  margin:1.5em 0;
  max-width:100%;
  color:$white;
  &__icon{
    padding:0.1em 0.1em;
    box-sizing:border-box;
    z-index:0;
    position:absolute;
    display:block;
    transition: color 100ms ease-in-out;
  }
  &--icon{
    & .input-container__input, & .input-container__label{
      padding-left:2.4em;
    }
    &.input-container--focused, &.input-container--has-value{
      & .input-container__label{
        transform:translate3d(-1.62em,-1.4em,0) scale(.8);
      }
    }
  }
  &--focused, &--has-value{
    & .input-container__label{
      transform:translate3d(0,-1.4em,0) scale(.8);
    }
  }
  &--small{
    width:12em;
  }
  &__label{
    z-index:0;
    display:block;
    padding:.4em .6em;
    @media(max-width:$breakpoint-phone){
      padding:.6em;
    }
    transform-origin:left top;
    transform:scale(1);
    transition: transform 400ms cubic-bezier(.25,.8,.25,1), color 100ms ease-in-out;;
    position:absolute;
  }
  &__input{
    z-index:1;
    position:relative;
    padding:0.6em;
    background:none;
    border:none;
    box-sizing:border-box;
    border-bottom:0.05em solid $grey;
    width:100%;
    color:$white;
    &:focus{
      outline:none;
    }
  }
}