@import url(https://fonts.googleapis.com/css?family=Montserrat|Material+Icons);
$font-family: "Montserrat", sans-serif;
$header-font-family: "Montserrat", sans-serif;
body,button,input,select,form,tr,td,table{
    font-family:$font-family;
}
@for $i from 1 through 6 {
    h#{7 - $i} {
        line-height:1.5em;
    }
}
@for $i from 1 through 6 {
    h#{7 - $i} {
        font-size: $i * .5em;
        @include media-breakpoint-up(md){
            font-size: $i * .7em;
        }
    }
}
body{
    font-size:12px;
    @include media-breakpoint-up(md){
        font-size:14px;
    }
}
body,button{    
    line-height:1.5em;
}
@each $k, $v in $letter-spacings {
    .letter-spacing-#{$k}{
      letter-spacing: $v !important;
    }
}
.font-weight-black{
    font-weight:900 !important;
}