.btn{
    border-radius:2em;
    background:none;
    margin-right:0.5em;
    margin-bottom:0.5em;
    text-decoration:none;
    padding:1em 3em;
    &.white{
      color:$white;
    }
    &--text{
      border:none;
    }
    &--outline{
      &.primary{
        @include outline($primary);
      }
    }
    &--fill{
      &.blue{
        @include fill($secondary, $primary);
      }
    }
    &--responsive-block{      
      @media (max-width: $breakpoint-desktop) {
        width:100%;
        display:block;
      }
    }
  }