.btn{
    border-radius:2em;
    background:none;
    margin-right:0.5em;
    margin-bottom:0.5em;
    &.white{
      color:$white;
    }
    &.btn--text{
      border:none;
    }
    &.btn--outline{
      padding:0.8em 2em;
      &.blue{
        @include outline(#08c);
      }
      &.white{
        @include outline($white);  
      }
    }
  }