.line{
    &--small{
        width:13%;
    }
    box-shadow:0 0.125rem 0.25rem rgba(0,0,0,.075);
    height:0.2em;
    margin: 1em 0em;
    border-radius:2em;
    &--primary{
        background:$primary-gradient;
    }
}