<nav class="dd-nav">
  <div class="dd-nav__content container">
      <ul class="dd-nav__links">
          <li>
              <a href="#home" class="dd-nav__link dd-scroll-to">
                Home
              </a>
          </li>
          <li>
              <a href="#about" class="dd-nav__link dd-scroll-to">
                About
              </a>
          </li>
          <li>
              <a href="#contact" class="dd-nav__link dd-scroll-to">
                Contact
              </a>
          </li>
      </ul>
      <button class="dd-nav__menu dd-shelf__open-btn" type="button" aria-controls="navShelf" aria-expanded="false">
          <i class="material-icons" aria-hidden="true">menu</i>
      </button>
  </div>
</nav>
<div id="navShelf" class="dd-shelf" aria-hidden="true" aria-label="Sidebar menu">
    <aside class="dd-shelf__drawer" tabindex="-1">
        <div class="dd-shelf__drawer__header">
            <a href="#home" class='dd-shelf__drawer__logo dd-shelf__close-btn dd-scroll-to' aria-controls="navShelf" aria-expanded="false">
                <img src="/dist/assets/img/logo.png" alt="Dylan Davies" class="dd-shelf__drawer__img img-fluid" />  
            </a>          
            <button class="dd-shelf__close-btn dd-shelf__close" aria-controls="navShelf" aria-expanded="false">
                <i class="material-icons font-weight-bold" aria-hidden="true">close</i>
            </button>
        </div>
        <ul class="dd-shelf__drawer__body">
            <li>
                <a class="dd-shelf__drawer__link dd-scroll-to dd-shelf__close-btn" aria-controls="navShelf" aria-expanded="false" href="#home">
                    Home
                </a>
            </li>
            <li>
                <a class="dd-shelf__drawer__link dd-scroll-to dd-shelf__close-btn" aria-controls="navShelf" aria-expanded="false" href="#about">
                    About
                </a>
            </li>
            <li>
                <a class="dd-shelf__drawer__link dd-scroll-to dd-shelf__close-btn" aria-controls="navShelf" aria-expanded="false" href="#contact">
                    Contact
                </a>
            </li>
        </ul>
    </aside>
</div>
<main>
  <section id="home" class="dd-hero dd-animated-wave d-flex flex-column justify-content-center">
    <div class="dd-hero__content d-flex p-3 align-items-center flex-column justify-content-center w-100">
      <h1 class="text-center my-5" data-aos="zoom-in" data-aos-delay="200">
          Hi, I'm Dylan Davies.
          <br />
          I'm a full stack developer.
      </h1>
      <div data-aos="zoom-in" data-aos-delay="500">
        <a class="dd-btn dd-btn--arrow_downward dd-btn--lg dd-scroll-to" href="#about">
          Let's make something great
        </a>
      </div>
    </div>
    <div class="dd-animated-wave__wave" style='background-image:url({{assets.path}}/img/hero-wave.svg)' aria-hidden="true"></div>
  </section>
  <section id="about" class="dd-animated-wave dd-animated-wave--padded bg-light-grey py-6 d-flex flex-column align-items-center min-vh-100 w-100">
    <h2 class="text-uppercase d-inline-block font-weight-bold text-center" data-aos="fade-right">About</h2>
    <div class="dd-header-bar dd-header-bar--lg mx-auto" data-aos="fade-right" data-aos-delay="250"></div>
    <div class="my-4 my-sm-6 container">
      <div class="row">
        <div class="col-12 col-sm-6 mb-2 mb-sm-0 justify-content-sm-center d-flex">
          <div>
            <h4 class="font-weight-bold" data-aos="fade-right" data-aos-delay="400">Need help bringing your idea to life?</h4>
            <p class="my-2" data-aos="fade-right" data-aos-delay="500">
              I'm comfortable working in all areas of the technical stack, so my skills and interests are broad. I live to solve problems.
            </p>
            <p class="my-2" data-aos="fade-right" data-aos-delay="600">
              I'm open for remote work so please feel free to <a class="font-weight-bold dd-scroll-to" href="#contact">contact me</a>.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 justify-content-sm-center d-flex">
          <div>
            <h4 class="font-weight-bold mb-1" data-aos="fade-left" data-aos-delay="400">Skills</h4>
            <div class="dd-header-bar dd-header-bar--sm mb-3" data-aos="fade-left" data-aos-delay="500"></div>
            <dl>
              <dt class="font-weight-bold" data-aos="fade-left" data-aos-delay="600">Front-end</dt>
                <dd class="mb-2" data-aos="fade-left" data-aos-delay="700">CSS3, JavaScript, ES6, React, Vue.js, Pug, HTML5</dd>
              <dt class="font-weight-bold" data-aos="fade-left" data-aos-delay="800">Back-end</dt>
                <dd class="mb-2" data-aos="fade-left" data-aos-delay="900">Java, Node.js, ASP.NET, C#, PHP, Python, SQL</dd>
              <dt class="font-weight-bold" data-aos="fade-left" data-aos-delay="1200">Cloud</dt>
                <dd class="mb-2" data-aos="fade-left" data-aos-delay="1300">Firebase, Azure</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="fade-left" data-aos-delay="1400" >
      <a class="dd-btn dd-btn--arrow_downward dd-btn--lg dd-scroll-to" href="#contact">
        Let's get in touch
      </a>
    </div>
    <div class="dd-animated-wave__wave" style='background-image:url({{assets.path}}/img/inverted-hero-wave.svg);animation-delay:-4s;' aria-hidden="true"></div>
  </section>
  <section id="contact" class="dd-animated-wave dd-animated-wave--padded py-6 d-flex flex-column align-items-center w-100 mw-100 min-vh-100">
    <h2 class="text-uppercase font-weight-bold text-center" data-aos="fade-left">Contact</h2>
    <div class="dd-header-bar dd-header-bar--lg mb-3 mx-auto" data-aos="fade-left" data-aos-delay="500"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <form action="https://formspree.io/info.dylandavies@gmail.com" method="POST">
              <div class="dd-input-container dd-input-container--icon" data-aos="fade-left" data-aos-delay="600">
                <i class="material-icons dd-input-container__icon">person</i>
                <label class="dd-input-container__label" for="name">Name</label>
                <input class="dd-input-container__input" name="name" id="name" type="text"
                    required />
              </div>
              <div class="dd-input-container dd-input-container--icon" data-aos="fade-left" data-aos-delay="700">
                <i class="material-icons dd-input-container__icon" aria-hidden="true">email</i>
                <label class="dd-input-container__label" for="email">Email</label>
                <input class="dd-input-container__input" id="email" name="email"
                    type="email" required />
              </div>
              <div class="dd-input-container dd-input-container--icon" data-aos="fade-left" data-aos-delay="800">
                <i class="material-icons dd-input-container__icon" aria-hidden="true">link</i>
                <label class="dd-input-container__label" for="website">Website</label>
                <input class="dd-input-container__input" name="website" id="website"
                    type="url" />
              </div>
              <div class="dd-input-container dd-input-container--icon" data-aos="fade-left" data-aos-delay="900">
                <i class="material-icons dd-input-container__icon" aria-hidden="true">comment</i>
                <label for="message" class="dd-input-container__label">Message</label>
                <textarea rows="1" class="dd-input-container__input" name="message" id="message" style="width:100%;"></textarea>
              </div>
              <div data-aos="fade-left" data-aos-delay="1000">
                <button class="dd-btn dd-btn--done">
                  Submit
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="dd-animated-wave__wave" style='background-image:url({{assets.path}}/img/footer-wave.svg);animation-delay:-12s;' aria-hidden="true"></div>
  </section>
</main>
<footer class="dd-footer">
  <img src="{{assets.path}}/img/logo.png" alt="Dylan Davies" class="mb-4 dd-footer__logo"/>
  <div class="d-flex justify-content-center">
    <ul class="d-inline-block px-4">
      <li>
        <span class="dd-footer__list-title">Navigation</span>
        <ul>
          <li>
            <a href="#home" class="dd-footer__link dd-scroll-to">Home</a>
          </li>
          <li>
            <a href="#about" class="dd-footer__link dd-scroll-to">About</a>
          </li>
          <li>
            <a href="#contact" class="dd-footer__link dd-scroll-to">Contact</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="d-inline-block px-4">
      <li>
        <span class="dd-footer__list-title">Follow Me</span>
        <ul class="d-flex">
          <li class="mr-3">
            <a class="dd-footer__link" href="https://www.linkedin.com/in/dylandaviddavies/" title="LinkedIn" aria-label="LinkedIn" target="_blank" rel="noopener">
              <i class="fab fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li class="mr-3">
            <a class="dd-footer__link" href="https://github.com/dylandaviddavies" title="GitHub" aria-label="GitHub" target="_blank" rel="noopener">
              <i class="fab fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="dd-footer__link" href="https://codepen.io/DylanDavidDavies/" title="CodePen" aria-label="CodePen" target="_blank" rel="noopener">
              <i class="fab fa-codepen" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <span class="py-3">Dylan Davies ©2020</span>
</footer>