<nav class="dd-navbar navbar fixed-top navbar-expand-sm">
  <a class="navbar-brand dd-scroll-to" href="#hero">
      <img src="{{assets.path}}/img/logo.png" style="max-height:50px;pointer-events:none;" alt="Dylan Davies - Full Stack Developer" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link dd-scroll-to" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link dd-scroll-to" href="#work">Work</a>
      </li>
      <li class="nav-item ml-sm-3">
        <a class="nav-link nav-link--outline dd-scroll-to" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="d-flex bg-primary p-3 align-items-center flex-column justify-content-center min-vh-100 vw-100">
      <h1 class="text-center my-5">Dream Bigger.</h1>
      <button class="dd-btn dd-btn--arrow_downward dd-btn--lg dd-scroll-to" data-target="#skills">
        Let's make something great
      </button>
    </div>
  </section>
  <section id="skills" class="bg-secondary py-6 d-flex flex-column min-vh-100 vw-100">
    <h2 class="text-uppercase text-center">Skills</h2>
    <div class="flex-grow-1 flex-column d-flex justify-content-center align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="dd-skill">
              <div class="dd-skill__icon">
                <i class="material-icons" aria-hidden="true">devices</i>
              </div>
              <h4 class="dd-skill__title">Front-end Dev.</h4>
              <div class="dd-skill__underline"></div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="dd-skill">
              <div class="dd-skill__icon">
                <i class="material-icons" aria-hidden="true">phone_iphone</i>
              </div>
              <h4 class="dd-skill__title">Mobile Dev.</h4>
              <div class="dd-skill__underline"></div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="dd-skill">
              <div class="dd-skill__icon">
                <i class="material-icons">build</i>
              </div>
              <h4 class="dd-skill__title">Back-end Dev.</h4>
              <div class="dd-skill__underline"></div>
            </div>
          </div>
        </div>
      </div>
      <button class="dd-btn dd-btn--arrow_downward dd-btn--lg dd-scroll-to" data-target="#work">
        Check out my work
      </button>
    </div>
  </section>
  <section id="work" class="bg-primary py-6 d-flex flex-column min-vh-100 vw-100">
    <h2 class="text-uppercase text-center">Work</h2>
    <div class="flex-grow-1 flex-column d-flex justify-content-center align-items-center">
      <div class="dd-work-grid my-5 my-lg-6">
        {{#each works}}
          <a class="dd-work" href="{{href}}" target="_blank" style="background-image:url({{bg}})"></a>
        {{/each}}
      </div>
      <button class="dd-btn dd-btn--arrow_downward dd-btn--lg dd-scroll-to" data-target="#contact">
        Let's get in touch
      </button>
    </div>
  </section>
  <section id="contact" class="bg-secondary py-6 d-flex flex-column min-vh-100 vw-100">
    <h2 class="text-uppercase text-center">Contact</h2>
    <div class="flex-grow-1 flex-column d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <form action="https://formspree.io/info.dylandavies@gmail.com" method="POST">
                <div class="input-container input-container--icon">
                  <i class="material-icons input-container__icon">person</i>
                  <label class="input-container__label" for="name">Name</label>
                  <input class="input-container__input" name="name" id="name" type="text"
                      required />
                </div>
                <div class="input-container input-container--icon">
                  <i class="material-icons input-container__icon" aria-hidden="true">email</i>
                  <label class="input-container__label" for="email">Email</label>
                  <input class="input-container__input" id="email" name="email"
                      type="email" required />
                </div>
                <div class="input-container input-container--icon">
                  <i class="material-icons input-container__icon" aria-hidden="true">link</i>
                  <label class="input-container__label" for="website">Website</label>
                  <input class="input-container__input" name="website" id="website"
                      type="url" />
                </div>
                <div class="input-container input-container--icon">
                  <i class="material-icons input-container__icon" aria-hidden="true">comment</i>
                  <label for="message" class="input-container__label">Message</label>
                  <textarea rows="1" class="input-container__input" name="message" id="message" style="width:100%;"></textarea>
                </div>
                <div>
                  <button class="dd-btn dd-btn--done">
                    Submit
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>