<nav class="dd-nav">
  <div class="dd-nav__content container">
      <ul class="dd-nav__links">
          <li>
              <a href="#home" class="dd-nav__link dd-scroll-to">
                Home
              </a>
          </li>
          <li>
              <a href="#about" class="dd-nav__link dd-scroll-to">
                About
              </a>
          </li>
          <li>
              <a href="#contact" class="dd-nav__link dd-scroll-to">
                Contact
              </a>
          </li>
      </ul>
      <button class="dd-nav__menu dd-shelf__open-btn" type="button" aria-controls="navShelf" aria-expanded="false">
          <i class="material-icons" aria-hidden="true">menu</i>
      </button>
  </div>
</nav>
<div id="navShelf" class="dd-shelf" aria-hidden="true" aria-label="Sidebar menu">
    <aside class="dd-shelf__drawer" tabindex="-1">
        <div class="dd-shelf__drawer__header">
            <a href="#home" class='dd-shelf__drawer__logo'>
                <img src="/dist/assets/img/logo.png" alt="Dylan Davies" class="dd-shelf__drawer__img img-fluid" />  
            </a>          
            <button class="dd-shelf__close-btn dd-shelf__close" aria-controls="navShelf" aria-expanded="false">
                <i class="material-icons font-weight-bold" aria-hidden="true">close</i>
            </button>
        </div>
        <ul class="dd-shelf__drawer__body">
            <li>
                <a class="dd-shelf__drawer__link dd-scroll-to dd-shelf__close-btn" aria-controls="navShelf" aria-expanded="false" href="#home">
                    Home
                </a>
            </li>
            <li>
                <a class="dd-shelf__drawer__link dd-scroll-to dd-shelf__close-btn" aria-controls="navShelf" aria-expanded="false" href="#about">
                    About
                </a>
            </li>
            <li>
                <a class="dd-shelf__drawer__link dd-scroll-to dd-shelf__close-btn" aria-controls="navShelf" aria-expanded="false" href="#contact">
                    Contact
                </a>
            </li>
        </ul>
    </aside>
</div>
<main>
  <section id="home" class="d-flex flex-column justify-content-center">
    <div class="d-flex p-3 align-items-center flex-column justify-content-center min-vh-100 vw-100">
      <h3 class="text-center my-5">
          Hi, I'm <span class="font-weight-bold">Dylan Davies</span>.
          <br />
          I'm a full stack developer.
      </h3>
      <a class="dd-btn dd-btn--arrow_downward dd-btn--lg dd-scroll-to" href="#about">
        Let's make something great
      </a>
    </div>
  </section>
  <section id="about" class="bg-light-grey py-6 d-flex flex-column align-items-center min-vh-100 vw-100">
    <h2 class="text-uppercase font-weight-bold text-center" data-aos="fade-right">About</h2>
    <div class="dd-header-bar dd-header-bar--lg mx-auto" data-aos="fade-right" data-aos-delay="250"></div>
    <div class="my-4 my-sm-6 container">
      <div class="row">
        <div class="col-12 col-sm-6 mb-2 mb-sm-0 justify-content-sm-center d-flex">
          <div>
            <h4 class="font-weight-bold" data-aos="fade-right" data-aos-delay="400">Need help bringing your idea to life?</h4>
            <p class="my-2" data-aos="fade-right" data-aos-delay="500">
              I'm comfortable working in all areas of the technical stack, so my skills and interests are broad. I live to solve problems.
            </p>
            <p class="my-2" data-aos="fade-right" data-aos-delay="600">
              I'm open for remote work so please feel free to <a class="font-weight-bold dd-scroll-to" href="#contact">contact me</a>.
            </p>
          </div>
        </div>
        <div class="col-12 col-sm-6 justify-content-sm-center d-flex">
          <div>
            <h4 class="font-weight-bold mb-1" data-aos="fade-left" data-aos-delay="400">Skills</h4>
            <div class="dd-header-bar dd-header-bar--sm mb-3" data-aos="fade-left" data-aos-delay="500"></div>
            <dl>
              <dt class="font-weight-bold" data-aos="fade-left" data-aos-delay="600">Front-end</dt>
                <dd class="mb-2" data-aos="fade-left" data-aos-delay="700">CSS3, JavaScript, ES6, React, Vue.js, Pug, HTML5</dd>
              <dt class="font-weight-bold" data-aos="fade-left" data-aos-delay="800">Back-end</dt>
                <dd class="mb-2" data-aos="fade-left" data-aos-delay="900">Java, Node.js, ASP.NET, C#, PHP, Python, SQL</dd>
              <dt class="font-weight-bold" data-aos="fade-left" data-aos-delay="1200">Cloud</dt>
                <dd class="mb-2" data-aos="fade-left" data-aos-delay="1300">Firebase, Azure</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div data-aos="fade-left" data-aos-delay="1400" >
      <a class="dd-btn dd-btn--arrow_downward dd-btn--lg dd-scroll-to" href="#contact">
        Let's get in touch
      </a>
    </div>
  </section>
  <section id="contact" class="py-6 d-flex flex-column vw-100 mw-100" style="min-height:70vh;">
    <h2 class="text-uppercase font-weight-bold text-center" data-aos="fade-left">Contact</h2>
    <div class="dd-header-bar dd-header-bar--lg mb-3 mx-auto" data-aos="fade-left" data-aos-delay="500"></div>
    <div class="flex-grow-1 flex-column d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <form action="https://formspree.io/info.dylandavies@gmail.com" method="POST">
                <div class="dd-input-container dd-input-container--icon" data-aos="fade-left" data-aos-delay="600">
                  <i class="material-icons dd-input-container__icon">person</i>
                  <label class="dd-input-container__label" for="name">Name</label>
                  <input class="dd-input-container__input" name="name" id="name" type="text"
                      required />
                </div>
                <div class="dd-input-container dd-input-container--icon" data-aos="fade-left" data-aos-delay="700">
                  <i class="material-icons dd-input-container__icon" aria-hidden="true">email</i>
                  <label class="dd-input-container__label" for="email">Email</label>
                  <input class="dd-input-container__input" id="email" name="email"
                      type="email" required />
                </div>
                <div class="dd-input-container dd-input-container--icon" data-aos="fade-left" data-aos-delay="800">
                  <i class="material-icons dd-input-container__icon" aria-hidden="true">link</i>
                  <label class="dd-input-container__label" for="website">Website</label>
                  <input class="dd-input-container__input" name="website" id="website"
                      type="url" />
                </div>
                <div class="dd-input-container dd-input-container--icon" data-aos="fade-left" data-aos-delay="900">
                  <i class="material-icons dd-input-container__icon" aria-hidden="true">comment</i>
                  <label for="message" class="dd-input-container__label">Message</label>
                  <textarea rows="1" class="dd-input-container__input" name="message" id="message" style="width:100%;"></textarea>
                </div>
                <div data-aos="fade-left" data-aos-delay="1000">
                  <button class="dd-btn dd-btn--done">
                    Submit
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="dd-footer bg-black position-relative">
  <svg class="position-absolute" style="top:-1px;left:0;" preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0 L50 100 L100 0 Z" fill="white" stroke="white"></path>
  </svg>
  <div class="pt-5 pb-5 position-relative z-index-1">
    <a class="mx-auto dd-back-up-btn dd-scroll-to" title="Back to top" aria-label="Back to top" href="#home">
      <i class="fas fa-angle-double-up"></i>
    </a>
    <div class="d-flex mt-5 mb-4 justify-content-center">
      <a class="dd-icon-btn text-grey mx-3" href="https://www.linkedin.com/in/dylandaviddavies/" title="LinkedIn" aria-label="LinkedIn" target="_blank" rel="noopener">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="dd-icon-btn text-grey mx-3" href="https://github.com/dylandaviddavies" title="GitHub" aria-label="GitHub" target="_blank" rel="noopener">
        <i class="fab fa-github"></i>
      </a>
      <a class="dd-icon-btn text-grey mx-3" href="https://codepen.io/DylanDavidDavies/" title="CodePen" aria-label="CodePen" target="_blank" rel="noopener">
        <i class="fab fa-codepen"></i>
      </a>
    </div>
    <p class="text-center text-uppercase letter-spacing-1" style="font-size:.8em;">Dylan Davies ©2019</p>
  </div>
</footer>