@use 'modules/theme';
@use 'sass:list';
@use 'sass:map';

$themes: (
	light:
		theme.generate(
			(
				primary: #151515,
				disabled: #ecedf5,
				disabled-text: rgba(50, 51, 56, 0.38)
			),
			(
				light: #fff,
				dark: #151515,
				background: #fff,
				neutral: #777,
				neutral-light: #fafafa,
				text: #777,
				heading: #151515
			)
		),
	dark:
		theme.generate(
			(
				primary: #fff,
				disabled: #ecedf5,
				disabled-text: rgba(50, 51, 56, 0.38)
			),
			(
				light: #151515,
				dark: #fff,
				background: #151515,
				neutral: #777,
				neutral-light: #232323,
				text: rgba(#fff, 0.6),
				heading: #fff
			)
		)
) !default;

$palette: ();
$colors: ();

@each $theme-name, $theme-map in $themes {
	@each $color-name, $color-value in map.get($theme-map, palette) {
		@if not list.index($palette, $color-name) {
			$palette: list.append($palette, $color-name);
		}
	}

	@each $category-name, $color-map in $theme-map {
		@each $color-name, $color-value in $color-map {
			@if not list.index($colors, $color-name) {
				$colors: list.append($colors, $color-name);
			}
		}
	}
}
