@use 'variables';
@use 'sass:list';
@use 'colors';
@use 'mixins';
@use 'functions';
@use './modules/theme';
@use 'sass:map';

@each $k, $v in colors.$themes {
	.theme-#{$k} {
		@include theme.add-css-variables($v);
	}
}

html {
	scroll-behavior: smooth;
	font-size: variables.$base-sm;

	@include mixins.breakpoint-up(sm) {
		font-size: variables.$base;
	}

	@media (prefers-color-scheme: light) {
		@include theme.add-css-variables(map.get(colors.$themes, light));
	}

	@media (prefers-color-scheme: dark) {
		@include theme.add-css-variables(map.get(colors.$themes, dark));
	}
}

a {
	text-decoration: none;
}

body {
	font-size: 2rem;
	background: var(--dd-background);
	font-weight: 400;
	color: functions.color(text);
}

button {
	padding: 0;
	cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: functions.color(heading);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

body,
button,
input,
select,
form,
tr,
td,
table {
	font-family: variables.$text-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: variables.$header-font;
}

@for $i from 0 through 6 {
	$num: 6 - $i;
	$size: $i * 1.2rem;
	$size: if($size == 0rem, 1rem, $size);

	h#{$num},
	.h#{$num} {
		line-height: 1.5;
		font-size: $size;

		@include mixins.breakpoint-down(sm) {
			font-size: $size * 0.7;
		}
	}
}

* {
	box-sizing: border-box;
}

dd {
	margin-left: 0;
}
