@use 'variables';
@use 'sass:list';
@use 'colors';
@use 'mixins';

html {
	font-size: variables.$base;
}

body {
	font-size: 3rem;
	background: var(--background);
}

button {
	padding: 0;
	cursor: pointer;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

@each $k, $v in colors.$themes {
	.theme-#{$k} {
		@each $type, $typeMap in $v {
			@each $name, $value in $typeMap {
				--#{$name}: #{$value};
			}
		}
	}
}

body,
button,
input,
select,
form,
tr,
td,
table {
	font-family: variables.$text-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: variables.$header-font;
}

@for $i from 0 through 5 {
	h#{6 - $i} {
		font-size: $i * 1.25rem;
	}
}

* {
	box-sizing: border-box;
}
