@use 'variables';
@use 'colors';

// Text
.text {
	@each $value in variables.$text-alignments {
		&-#{$value} {
			text-align: $value !important;
		}
	}
}

// Colors
@each $name in colors.$colors {
	.text-#{$name} {
		color: var(--#{$name}) !important;
	}

	.bg-#{$name} {
		background-color: var(--#{$name}) !important;
	}
}

// Spacing
@each $unit-name, $unit-value in variables.$spacer-units {
	.#{$unit-name} {
		@each $spacer-name, $spacer-value in variables.$spacers {
			&-#{$spacer-name} {
				#{$unit-value}: $spacer-value !important;
			}

			@each $dir-name, $dir-values in variables.$spacer-directions {
				&#{$dir-name} {
					&-#{$spacer-name} {
						@each $k in $dir-values {
							#{$unit-value}-#{$k}: $spacer-value !important;
						}
					}
				}
			}
		}
	}
}

// Display
@each $value in variables.$displays {
	.d-#{$value} {
		display: $value;
	}
}

// Flex
@each $value in variables.$flex-directions {
	.flex-#{$value} {
		flex-direction: $value;
	}
}

@each $unit in variables.$flex-alignment-units {
	@each $direction in variables.$flex-alignment-directions {
		.#{$unit}-#{$direction} {
			#{$unit}: $direction !important;
		}
	}
}

// Size
.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}
