@use 'sass:list';

// Typography
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900|Material+Icons);
$text-font: 'Poppins', sans-serif !default;
$header-font: 'Poppins', sans-serif !default;
$text-alignments: center, left, right;

// Display
$displays: flex, inline-flex, block, inline-block;

// Flex
$flex-directions: row, row-reverse, column, column-reverse;
$flex-alignment-units: align-items, justify-content;
$flex-alignment-directions: (center, flex-end, flex-start);

// Spacers
$spacer-units: (
	p: padding,
	m: margin
) !default;

$spacer-directions: (
	l: (
		left
	),
	r: (
		right
	),
	t: (
		top
	),
	b: (
		bottom
	),
	y: (
		top,
		bottom
	),
	x: (
		left,
		right
	)
) !default;

$spacers: (
	auto: auto,
	0: 0,
	1: 1rem,
	2: 2rem,
	3: 3rem,
	4: 4rem,
	5: 5rem,
	6: 6rem,
	7: 7rem,
	8: 8rem,
	9: 9rem,
	10: 10rem,
	11: 11rem,
	12: 12rem
) !default;

// Content
$content-width: 1500px;

// Base
$base: 8px !default;

// Miscellaneous
$yiq-threshold: 150 !default;
