@use 'sass:list';

// Typography
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900|Material+Icons);
$text-font: 'Poppins', sans-serif !default;
$header-font: 'Poppins', sans-serif !default;
$text-alignments: center, left, right;

// Display
$displays: flex, inline-flex, block, inline-block;

// Flex
$flex-directions: row, row-reverse, column, column-reverse;
$flex-alignment-units: align-items, justify-content;
$flex-alignment-directions: (center, flex-end, flex-start);

// Spacers
$spacer-units: (
	p: padding,
	m: margin
) !default;

$spacer-directions: (
	l: left,
	r: right,
	t: top,
	b: bottom
) !default;

$spacers: (
	auto: auto,
	0: 0,
	1: 1rem,
	2: 2rem,
	3: 3rem,
	4: 4rem,
	5: 5rem,
	6: 6rem
) !default;

// Base
$base: 8px !default;

// Miscellaneous
$yiq-threshold: 150 !default;
