@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,900|Material+Icons);
$font-family: "Poppins", sans-serif;
$header-font-family: "Poppins", sans-serif;
body,button,input,select,form,tr,td,table{
    font-family:$font-family;
}
@for $i from 2 through 6 {
    h#{7 - $i} {
        line-height:1.5em;
        margin-left:0;
        margin-right:0;
    }
}
@for $i from 3 through 6 {
    h#{7 - $i} {
        font-size: $i * .5em;
        @include media-breakpoint-up(md){
            font-size: $i * .6em;
        }
    }
}

h1 {
    font-size: 24px;
    @include media-breakpoint-up(sm){
        font-size: 36px;
    }
    @include media-breakpoint-up(md){
        font-size: 50px;
    }
}

h6{
    font-size:.9em;
    @include media-breakpoint-up(md){
        font-size: 1em;
    }
}
body{
    font-size:12px;
    @include media-breakpoint-up(md){
        font-size:14px;
    }
}
body,button{    
    line-height:1.5em;
}
@each $k, $v in $letter-spacings {
    .letter-spacing-#{$k}{
      letter-spacing: $v !important;
    }
}
.font-weight-black{
    font-weight:900 !important;
}