@each $k, $v in $grid-breakpoints {
    @each $name, $color in $theme-colors {
      .bg-#{$k}-#{$name}{
        @include media-breakpoint-up($k){
          background-color:$color !important;
        }
      }
      .bg-n-#{$k}-#{$name}{
        @include media-breakpoint-down($k){
          background-color:$color !important;
        }
      }
    }
  }
.bg-black{
  background-color:$black !important;
}
.bg-light-grey{
  background-color:$light-grey !important;
}

@each $k, $v in $grid-breakpoints {
    @each $name, $color in $theme-colors {
      .bg-#{$k}-#{$name}{
        @include media-breakpoint-up($k){
          background-color:$color !important;
        }
      }
      .bg-n-#{$k}-#{$name}{
        @include media-breakpoint-down($k){
          background-color:$color !important;
        }
      }
    }
  }
.bg-black{
  background-color:$black !important;
}
.bg-light-grey{
  background-color:$light-grey !important;
}

@each $k, $v in $grid-breakpoints {
    .block-max-#{$k}{
      @include media-breakpoint-down($k){
        width:100%;
      }
    }
    .block-min-#{$k}{
      @include media-breakpoint-up($k){
        width:100%;
      }
    }
  }

  @each $name, $value in $grid-breakpoints {
    .dd-bp-max-#{$name}{   
      @each $k, $v in $grid-breakpoints{
        @if (index(($grid-breakpoints), ($k $v)) > index(($grid-breakpoints), ($name $value))) {
          @media (min-width: $v) {
            max-width:$value;
          }
        }
      }
    }
  }

  @each $k, $v in $text-shadows {
      .text-shadow-#{$k} {
          text-shadow: $v !important;
      }
  }

  
.dd-overflow-hidden {
  overflow:hidden;
  padding-right:17px;
}



@each $k, $v in $directions {
  @each $k2, $v2 in $direction-values {
      .#{$k}-#{$k2} {
          #{$v}: $v2 !important;
      }
  }
}

.w-101{
  width:101%;
}

@each $k, $v in $text-shadows {
  .text-shadow-#{$k} {
      text-shadow: $v !important;
  }
}


@each $k, $v in $z-indexes {
  .zi-#{$k} {
      z-index: $v !important;
  }
}

.rotate-180{
  transform: rotate(180deg);
}

.pointer-events-none {
  pointer-events: none;
}