$white: #fff;
$black:black;
$grey:#777;
$light-grey:#fafafa;
$primary:#151515;
$secondary: #fb6969;

$spacer: 1rem !default;
$spacers:(
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8)
);
$letter-spacings: (
    half: .5px,
    1: 1px,
    2: 2px
);
$button-icons: 
    'arrow_downward',
    'arrow_forward',
    'done';

// Navigation
$navbar-height: 55px;
$navbar-md-height: 65px;

$text-shadows: (
    none: none,
    stylish: .05em .05em rgba(0,0,0,.2),
    sharpen: .01em .01em rgba(0,0,0,.3)
);

// Directions
$directions: (
    l: 'left',
    t: 'top',
    r: 'right',
    b: 'bottom'
);
$direction-values: (
    n1: -1px,
    0: 0
);

// Z-indexes
$z-indexes: (
    n1: -1,
    0: 0,
    1: 1
);