@use '../../colors';
@use 'button';
@use '../../mixins';
@use '../../functions';

.dd-button__animation {
	pointer-events: none;
	position: absolute;
	top: -5px;
	bottom: -5px;
	right: -5px;
	left: -5px;
	z-index: 0 !important;
	transition: transform button.$transition-speed button.$transition-curve;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 2rem;

	@each $k in colors.$palette {
		&--#{$k} {
			background-color: functions.color($k);
			color: functions.color(#{$k}-text);
		}
	}

	&--ltr {
		transform: scaleX(0);
		transform-origin: right center;
	}

	&--rtl {
		transform: scaleX(0);
		transform-origin: left center;
	}

	&--ttb {
		transform: scaleY(0);
		transform-origin: bottom center;
	}

	&--btt {
		transform: scaleY(0);
		transform-origin: top center;
	}
}

@include button.hover-focus-active {
	.dd-button__animation {
		&--ltr {
			transform-origin: left center;
		}

		&--rtl {
			transform-origin: right center;
		}

		&--ttb {
			transform-origin: top center;
		}

		&--btt {
			transform-origin: bottom center;
		}

		&--ltr,
		&--rtl {
			transform: scaleX(100%);
		}

		&--ttb,
		&--btt {
			transform: scaleY(100%);
		}
	}
}

@each $k in colors.$palette {
	.dd-button--#{$k} {
		@include mixins.hover-focus-active() {
			.dd-button__animation ~ * {
				color: functions.color(#{$k}-text) !important;
			}
		}
	}
}
