@use '../../mixins';
@use '../../variables';
@use '../../functions';

.dd-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	@include mixins.breakpoint-down(sm) {
		display: none;
	}

	ul {
		display: flex;
		align-items: center;
		list-style: none;

		a {
			margin: 0 3rem;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 1px;
			color: functions.color(neutral);
			transition: color 0.2s;

			@include mixins.hover-focus-active() {
				color: functions.color(neutral-dark);
			}
		}
	}
}
