.dd-wave {
	pointer-events: none;
	height: 20vh;
	min-height: 200px;
	width: 100%;
	position: absolute;
	left: -0px;
	right: -0px;
	bottom: -2px;
	animation: wave 25s linear infinite;
	background-color: currentColor;
	mask-image: url('/assets/images/wave.svg');
	mask-repeat: repeat-x;
	-webkit-mask-image: url('/assets/images/wave.svg');
	-webkit-mask-repeat: repeat-x;
	-webkit-mask-position-y: bottom;

	@media (min-height: 1000px) {
		background-position-y: bottom;
	}
}
