@use '../../mixins';
@use '../../functions';

.dd-footer {
	background-color: functions.color(dark);
	padding: 0 4rem 4rem;
	font-size: 14px;
	overflow-x: hidden;
	font-weight: 500;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: functions.color(neutral);

	&__heading {
		text-transform: uppercase;
		font-size: 1.5rem;
		margin-bottom: 1rem;
		display: block;
		font-weight: 700;
	}

	&__list {
		list-style-type: none;
		padding: 0;
	}

	&__logo {
		height: 7rem;
		margin-bottom: 5rem;
		background-color: functions.color(light);
		mask-image: url('/assets/images/logo.svg');
		mask-repeat: no-repeat;
		-webkit-mask-image: url('/assets/images/logo.svg');
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center;
		width: 300px;
	}

	&__link {
		color: functions.color(neutral);
		font-weight: 500;
		font-size: 14px;
		display: block;
		transition: color 0.2s;
		margin-bottom: 1rem;

		@include mixins.hover-focus-active() {
			color: functions.color(neutral-dark);
		}
	}

	.dd-footer__link i {
		font-size: 20px;
	}
}
