@mixin outlineHover($colour) {
    &:hover {
      transition: background 100ms ease-in-out;
      background: rgba($colour, 0.1);
    }
  }
  @mixin outline($colour) {
    color: $colour;
    border: 0.11em solid $colour;
    @include outlineHover($colour);
  }
  @mixin fillHover($from, $to) {
    &:hover {
      transition: background 100ms ease-in-out;
      background: linear-gradient(15deg, lighten($from, 5%), lighten($to, 5%));
    }
  }
  @mixin fill($from, $to) {
    color:$white;
    border:none;
    background: linear-gradient(15deg, $from,$to);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    @include fillHover($from, $to);
  }